{
  "extends": "airbnb-base",
  "env": {
    "jest": true
  },
  "rules": {
    "semi": [2, "never"],
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "never",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }]
  }
}